{% extends "tunes/base_template.html" %}



{% block content %}
    <h3>Tracks</h3>
    <table class="table table-dark table-hover" name = "Tracks">
            
        <tr>Tracks: </tr>
        {% for track in trackslist %}
        <tr>
            
            <td> {{ track }}</td>

        </tr>
        {% endfor %}


    </table>

    <h3>Albums</h3>

    <table class="table table-dark table-hover" name = "Albums">
    
        <tr>Albums:</tr>
            
                
        {% for a in albumslist %}
        <tr>
            
            <td> {{ a }}</td>

        </tr>
        {% endfor %}


    </table>
{% endblock %}