{% extends "tunes/base_template.html" %}

{% block content %}

{% load socialaccount %}

{% if user.is_authenticated %}

{% else %}
<h3><a href="{% provider_login_url 'github' %}">Sign In</a></h3>
{% endif %}

<h3> You chose to share this playlist, {{ playlist.name }} </h3>

<p>Now, you must decide who you want to share this with :D </p>

<p>Remember that you can only share with a person once<p>

    <form action="." method="post">
        {% csrf_token %}
        
        <div class="form-group mb-2">
            <label for="name">Name of other Users</label>
            <select name = "name" id = "name" class = "form-control" required>
                <div class="form-group mb-2">
                    {% for user in allusers %}
                    <option value = "{{ user.id }}"> {{ user }}</option>
                    {% endfor %}
                </div>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}